.card{
    position: relative;
    padding: 20px;
}

.card .head{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid lightgray;
    padding: 5px;
}

.card .reload{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid gray;
    border-bottom: none;
    border-left: none;
    cursor: pointer;
    
}

@keyframes loading {
    100% {
        rotate: 360deg;
    }
}

.loading{
    animation: loading 2s infinite ;
}

.mask{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: lightgrey;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mask .loading{
    border-color: blue;
    border-width: 5px;
    width: 30px;
    height: 30px;
}
